<template>
  <div id="app">
    <div class="headerApp">
      <FaceCounter v-bind:handleNumber="number" />
    </div>
    <div class="handleButton">
      <div class="buttonApp">
        <ButtonSelect
          v-bind:handleNumber="number"
          v-for="(button, index) in listButtons"
          v-bind:key="index"
          v-bind:id="button.id"
          v-on:button-event-number="handleClickedButton(button.use)"
        >
          <span>{{ button.name }}</span>
        </ButtonSelect>
      </div>
    </div>
  </div>
</template>

<script>
import FaceCounter from "../components/FaceCounter.vue";
import ButtonSelect from "../components/ButtonSelect.vue";
export default {
  name: "HomeView",
  data() {
    return {
      number: 0,
      listButtons: [
        {
          id: "colorPlus",
          name: "Increase",
          use:'plusNumber'  
        },
        {
          id: "colorReset",
          name: "Reset",
          use: 'resetNumber'
        },
        {
          id: "colorMinus",
          name: "Decrease",
          use: 'minusNumber'        
        },
      ],
    };
  },
  components: {
    FaceCounter,
    ButtonSelect,
  },
  methods: {
    handleClickedButton(use) {
      if(use==='plusNumber') this.number++;
      if(use === 'minusNumber') this.number--;
      if(use ==='resetNumber') this.number = 0;
      //check use then  action below
    },
  },
};
</script>
<style scoped>
#app {
  font-family: "Roboto", sans-serif;
}
.headerApp {
  margin-top: 50px;
}
.handleButton {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 200px;
}
.buttonApp {
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-direction: row-reverse;
}
#colorPlus {
  background-color: #38adfb;
}
#colorPlus:hover {
  background-color: #7fccff;
}
#colorReset {
  background-color: #2ecc71;
}
#colorReset:hover {
  background-color: #93ffc0;
}
#colorMinus {
  background-color: #e74c3c;
}
#colorMinus:hover {
  background-color: #ff9e93;
}
</style>
<link rel="preconnect" href="https://fonts.googleapis.com">