<template>
    <div v-on:click="handleClicked" class="buttonNumber">
      <slot></slot>
    </div>
</template>

<script>
export default {
  name: "buttonCounter",
  props: {
    handleNumber: {
      type: Number,
      default: 0,
    },
  },
  methods: {
    handleClicked: function () {
      this.$emit("button-event-number");
    },
  },
};
</script>

<style>
.buttonNumber {
  width: 140px;
  height: 80px;
  border:none;
  border-radius: 3px;
  display: flex;
  box-shadow: 4px 4px 10px #3333;
  background-color:red;
}
.buttonNumber span {
  margin: auto;
  font-size: 30px;
  color:white;
}
.buttonNumber span:hover {
  color:rgb(77, 77, 77);
}

</style>