<template>
  <div class="handleCenter">
    <div class="faceCounter">
      <h2 class="number-counter" v-if="handleNumber > 0" id="positiveNumber">
        {{ handleNumber }}
      </h2>
      <h2 class="number-counter" v-if="handleNumber < 0" id="negativeNumber">
        {{ handleNumber }}
      </h2>
      <h2 class="number-counter" v-if="handleNumber == 0">
        {{ handleNumber }}
      </h2>
    </div>
  </div>
</template>
<script>
export default {
  name: "faceCounter",
  props: {
    handleNumber: { type: Number, default: 0 },
  },
};
</script>

<style scoped>
.number-counter {
  font-size: 150px;
  color: #59ae58;
  margin: auto;
}
.handleCenter {
  display: flex;
  justify-content: center;
}
.faceCounter {
  display: flex;
  margin-top: 150px;
}
#positiveNumber {
  color: #2980b9;
}
#negativeNumber {
  color: #e74c3c;
}
</style>